.bewildered-binding__variant-override-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: rgb(196 196 196);
}

.bewildered-binding--variant-override {
    -unity-font-style: bold;
}